# Python virtual environment
venv/

# PyInstaller outputs
# refs/searxng source: https://github.com/searxng/searxng.git
refs/
dist/
build/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/